/* Form.module.css */
body {
  /* 设置字体为Arial或sans-serif */
  font-family: Arial, sans-serif;
  /* 设置背景颜色为#f4f4f4 */
  background-color: #f4f4f4;
  /* 设置顶部外边距为100rem */
  margin-top: 50rem;
  /* 设置内边距为0 */
  padding: 0;
  /* 设置为弹性布局 */
  display: flex;
  /* 水平居中 */
  justify-content: center;
  /* 设置高度为100vh */
  height: 100vh;
}

.container {
  /* 设置为弹性布局 */
  display: flex;
  /* 设置背景颜色为#fff */
  background-color: #fff;
  /* 设置内边距为40rem */
  padding: 10rem;
  /* 设置边框圆角为20rem */
  border-radius: 20rem;
  /* 设置阴影 */
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.1);
  /* 设置宽度为300px */
  width: 200rem;
  /* 水平居中 */
  justify-content: center;
}
.container form {
  /* 设置为弹性布局 */
  display: flex;
  /* 设置主轴方向为垂直 */
  flex-direction: column;
}
.container form h2 {
  font-size: 8rem;
}

.container input {
  /* 设置元素底部外边距为10像素 */
  margin-bottom: 10rem;
  /* 设置内边距为10像素 */
  padding: 10rem;
  /* 设置边框为1像素实线，颜色为#ccc */
  border: 1px solid #ccc;
  /* 设置边框圆角为4像素 */
  border-radius: 4px;
  height: 5px;
  font-size: 10rem;
}
.btns {
  display: flex;
  flex-direction: column;
}
.container button {
  /* 设置内边距为10像素 */
  padding: 10px;
  /* 设置边框为无 */
  border: none;
  /* 设置边框圆角为4像素 */
  border-radius: 10rem;

  /* 设置鼠标悬停时为手型 */
  cursor: pointer;
  /* 设置顶部外边距为10像素 */
  margin-top: 10px;
  font-size: 10rem;
}
.login {
  background-color: #007bff;
  /* 设置文字颜色为白色 */
  color: white;
}
.register {
  color: #000;
}

@media (max-width: 768px) {
  body {
    margin-top: 100rem;
  }

  .container {
    padding: 20rem; /* 减小内边距 */
    width: 100%; /* 使用百分比宽度 */
  }

  .container form h2 {
    font-size: 24rem; /* 增大标题字体大小 */
  }

  .container input {
    padding: 10rem; /* 保持内边距 */
    font-size: 24rem; /* 增大输入框字体大小 */
    height: 40rem;
    border-radius: 15rem;
  }

  .container button {
    padding: 10rem; /* 保持按钮内边距 */
    font-size: 24rem; /* 增大按钮字体大小 */
  }
}
